{% extends "crm/base.html" %}

{% load static %}

{% block title %}<title>VerdeZen | Vendas</title>{% endblock %}

{% block content %}
  <div class="container text-center my-3">
    <h1>Lista de vendas realizadas</h1>

    {% if user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'criar_venda' %}" role="button">Adicionar Venda</a>
    {% endif %}

  </div>
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <td scope="col">Cliente</td>
        <td scope="col">Data</td>
        <td scope="col">Método de Pagamento</td>
        <td scope="col">Situação</td>

        {% if user.is_superuser %}<td scope="col">Opções</td>{% endif %}

      </tr>
    </thead>
    <tbody>
      {% for venda in vendas %}
        <tr>
          <td>{{ venda.cliente.nome }}</td>
          <td>{{ venda.data_venda }}</td>
          <td>{{ venda.forma_pagamento }}</td>
          <td>{{ venda.status|capfirst }}</td>

          {% if user.is_superuser %}
            <td>
              <a class="btn btn-primary"
                 href="{% url 'editar_venda' venda.id %}"
                 role="button">Editar</a>
              <form id="form-apagar-{{ venda.id }}"
                    method="post"
                    action="{% url 'apagar_venda' venda.id %}"
                    style="display: none">
                {% csrf_token %}
              </form>
              <button class="btn btn-danger"
                      type="submit"
                      onclick="apagarObjeto({{ venda.id }})">Apagar</button>
            </td>
          {% endif %}

        </tr>
      {% empty %}

        {% if user.is_superuser %}
          <tr>
            <td colspan="5">Sem vendas realizadas</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4">Sem vendas realizadas</td>
          </tr>
        {% endif %}

      {% endfor %}
    </tbody>
  </table>
  <script src="{% static 'crm/utils.js' %}"></script>
{% endblock content %}
