{% extends "crm/base.html" %}

{% load static %}

{% block content %}
  <h1>Lista de Produtos</h1>

  {% if user.is_superuser %}
    <p>
      <a href="{% url 'criar_produto' %}">Adicionar Produto</a>
    </p>
  {% endif %}

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço (R$)</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Ativo?</th>

        {% if user.is_superuser %}<th>Opções</th>{% endif %}

      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
        <tr>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.preco }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.categoria }}</td>

          {% if produto.ativo %}
            <td>Sim</td>
          {% else %}
            <td>Não</td>
          {% endif %}

          {% if user.is_superuser %}
            <td>
              <a href="{% url 'editar_produto' produto.id %}">Editar</a>
              <form id="form-apagar-{{ produto.id }}"
                    method="post"
                    action="{% url 'apagar_produto' produto.id %}"
                    style="display: none">
                {% csrf_token %}
              </form>
              <button type="submit" onclick="apagarObjeto({{ produto.id }})">Apagar</button>
            </td>
          {% endif %}

        </tr>
      {% empty %}
        {% if user.is_superuser %}
          <td colspan="6">Nenhum produto cadastrado</td>
        {% else %}
          <td colspan="5">Nenhum produto cadastrado</td>
        {% endif %}
        <tr>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="{% static 'crm/utils.js' %}"></script>
{% endblock content %}
