{% extends "crm/base.html" %}

{% load static %}

{% block title %}<title>VerdeZen | Estoque</title>{% endblock %}

{% block content %}
  <div class="container text-center my-3">
    <h1>Lista de produtos no estoque</h1>
    {% if user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'criar_estoque' %}" role="button">Adicionar produto ao estoque</a>
    {% endif %}
  </div>

  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Produto</th>
        <th scope="col">Quantia disponível</th>

        {% if user.is_superuser %}<th scope="col">Opções</th>{% endif %}

      </tr>
    </thead>
    <tbody>
      {% for produto_estoque in estoque %}
        <tr>
          <td>{{ produto_estoque.produto }}</td>
          <td>{{ produto_estoque.quantia }}</td>

        {% if user.is_superuser %}
          <td>
            <a class="btn btn-primary" href="{% url 'editar_estoque' produto_estoque.id %}" role="button">Editar</a>

            <form id="form-apagar-{{ produto_estoque.id }}"
                  method="post"
                  action="{% url 'apagar_estoque' produto_estoque.id %}"
                  style="display: none">
              {% csrf_token %}
            </form>
            <button class="btn btn-danger" type="submit" onclick="apagarObjeto({{ produto_estoque.id }})">Apagar</button>
          </td>
        {% endif %}
        </tr>
      {% empty %}
        {% if user.is_superuser %}
          <tr colspan="3"><td>Não há produtos no estoque</td></tr>
        {% else %}
          <tr colspan="2"><td>Não há produtos no estoque</td></tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <script src="{% static 'crm/utils.js' %}"></script>
{% endblock content %}
