{% extends "crm/base.html" %}

{% block content %}
  <h1>Lista de Produtos</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Ativo?</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
        <tr>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.preco }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.categoria }}</td>

          {% if produto.ativo %}
            <td>Sim</td>
          {% else %}
            <td>Não</td>
          {% endif %}

        </tr>
      {% empty %}
        <tr><td colspan="5">Nenhum produto cadastrado</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
