{% extends "crm/base.html" %}

{% load static %}

{% block title %}<title>VerdeZen | Produtos</title>{% endblock %}

{% block content %}
  <div class="container text-center my-3">
    <h1>Lista de Produtos</h1>

    {% if user.is_superuser %}
      <a class="btn btn-primary"
         href="{% url 'criar_produto' %}"
         role="button">Adicionar Produto</a>
    {% endif %}

  </div>
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Preço (R$)</th>
        <th scope="col">Descrição</th>
        <th scope="col">Categoria</th>
        <th scope="col">Ativo?</th>

        {% if user.is_superuser %}<th scope="col">Opções</th>{% endif %}

      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
        <tr>
          <td><a href="{{ produto.get_absolute_url }}">{{ produto.nome }}</a></td>
          <td>{{ produto.preco }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.categoria }}</td>

          {% if produto.ativo %}
            <td>Sim</td>
          {% else %}
            <td>Não</td>
          {% endif %}

          {% if user.is_superuser %}
            <td>
              <a class="btn btn-primary"
                 href="{% url 'editar_produto' produto.id %}"
                 role="button">Editar</a>
              <form id="form-apagar-{{ produto.id }}"
                    method="post"
                    action="{% url 'apagar_produto' produto.id %}"
                    style="display: none">
                {% csrf_token %}
              </form>
              <button class="btn btn-danger"
                      type="submit"
                      onclick="apagarObjeto({{ produto.id }})">Apagar</button>
            </td>
          {% endif %}

        {% empty %}

          {% if user.is_superuser %}
            <td colspan="6">Nenhum produto cadastrado</td>
          {% else %}
            <td colspan="5">Nenhum produto cadastrado</td>
          {% endif %}

        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="{% static 'crm/utils.js' %}"></script>
{% endblock content %}
