{% extends "crm/base.html" %}

{% load static %}

{% block title %}<title>VerdeZen | Venda núm. {{ venda.id }}</title>{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="mt-3">Venda para {{ venda.cliente.nome }}</h1>
    <p class="text-break fst-italic fs-3 text-body-secondary">{{ venda.data_venda }}</p>
    <h2>Dados da venda</h2>
    <ul>
      <li>Valor total: R$ {{ venda.valor_total }}</li>
      <li>Situação: {{ venda.status|capfirst }}</li>
      <li>Forma de pagamento: {{ venda.forma_pagamento }}</li>
    </ul>
    <h3>Produtos</h3>
    <ul>
      {% for produto in venda.produtos.all %}
        <li>
          <a href="produto.get_absolute_url">{{ produto.nome }}</a>
        </li>
      {% endfor %}
    </ul>

    {% if user.is_superuser %}
      <h2 class="mb-3">Opções</h2>
      <a href="{% url 'editar_venda' venda.id %}" class="btn btn-primary">Editar</a>
      <form id="form-apagar-{{ venda.id }}"
            method="post"
            action="{% url 'apagar_venda' venda.id %}"
            style="display: none">
        {% csrf_token %}
      </form>
      <button class="btn btn-danger"
              type="submit"
              onclick="apagarObjeto({{ venda.id }})">Apagar</button>
    {% endif %}

  </div>
  <script src="{% static 'crm/utils.js' %}"></script>
{% endblock content %}
